
<%= render "shared/navbar" %>
<div class="container">
  <h1><strong>Our Capsules</strong></h1>
  <div class="row cards-container">
    <% @capsules.each do |capsule| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= capsule.name %></h5>
            <p class="card-text"><%= capsule.description %></p>
            <div class="d-flex justify-content-between align-content-end">
            <p class="card-price "><strong>Price:</strong> <%= capsule.price %></p>
            <%= link_to "See more", capsule_path(capsule), class: "link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%# Comment this out for now because it will fail without cloudinary key, get it and put in env file %>
<%#= cl_image_tag @product.photo.key, brightness: 30, radius: 20,
width: 150, height: 150, crop: :thumb, gravity: :face %>
