<!DOCTYPE html>
<html>
  <head>
    <title>CapsuleRooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-start align-items-center">
      <a class="navbar-brand mx-2" href="#">Capsules</a>
      <a class="nav-item nav-link mx-2">Home</a>
      <a class="nav-item nav-link mx-2">My Dashboard</a>
      <a class="nav-item nav-link mx-2">Create capsule</a>
    </nav>
    <%= yield %>
  </body>
</html>
